.DS_Store
*.swp
node_modules
dist
/target/
npm-debug.log
/target/
/node/
/report/
lib
.classpath
.project
.settings/
/src/main/webapp/resources/*
/resources/*
bundle.js
/coverage/
compiled
.eslintcache
.nyc_output
.vscode
/.metadata/
/Servers/
